{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/styles2.css' %}">
</head>
<body>
    <div class="home-pages">
        <h1>Welcome to my Demo E-Commerce Rest API</h1>
        <h2>Endpoints available include:</h2><br>
        <ul>
            <li>Customers Endpoint</li>
            <li>Product Endpoint</li>
            <li>Collection Endpoint</li>
            <li>Order Endpoint</li>
            <li>Cart Endpoint</li>
        </ul>
        <br>
        <h3>All with Authentication and Permissions</h3>
    </div>

</body>
</html>